<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="cloud"></clr-icon>
                <span class="title">Tyrannus Online Seminary | Student Portal</span>
            </a>
        </div>
        <div class="header-actions">
                <button type="button" class="nav-link btn btn-icon btn-success" [disabled]="!enablePlayBtn"
                    aria-label="warning" (click)="rcvTeacherVideo()">
                    <clr-icon shape="play"></clr-icon>
                </button>
            </div>
    </header>
    <div class="content-container">
        <div class="canvas"></div>
        <div class="videos" #videos>
            <div class="teacher-video" *ngIf="classDetails && classDetails.state==='paused'" [ngStyle]="{ 'max-height': '10rem' }">
                <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                    Video paused. Teacher might be disconnected
                </div>
            </div>
            <div class="teacher-video" *ngIf="classDetails && classDetails.state==='not-started'" [ngStyle]="{ 'max-height': '10rem' }">
                <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                    Video Not Started
                </div>
            </div>
            <video  autoplay muted class="teacher-video" #teacherVideo ></video>
        </div>
    </div>
</div>