<div class="clr-row">
    <div class="clr-col-lg-2 clr-col-md-4 clr-col-12" *ngFor="let class of curentLiveClasses">
        <div class="card clickable">
            <div class="card-header">
                {{ class.subject.name }}
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{ class.teacher.email }}
                </div>
                <div class="card-text">
                    Started At {{ class.createdAt | timeAgo }}
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="viewClass(class.id)">WATCH NOW</button>
            </div>
        </div>
    </div>


    <div *ngIf="!curentLiveClasses.length">
        <p class="p1">No Classes on Going</p>
    </div>

</div>