<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="/" class="nav-link">
                <clr-icon shape="cloud"></clr-icon>
                <span class="title">Tyrannus Online Seminary | Teacher Portal</span>
            </a>
        </div>
        <div class="header-nav" *ngIf="classDetails">
            <a href="javascript://" class="nav-link nav-text"> {{ classDetails.subject.name }} </a>
        </div>
        <div class="header-actions">
            <button type="button" class="nav-link btn btn-icon btn-success" [disabled]="!enablePlayBtn"
                aria-label="warning" (click)="start()">
                <clr-icon shape="play"></clr-icon>
            </button>
            <button type="button" *ngIf="classDetails && classDetails.state === 'started'"
                class="nav-link btn btn-icon btn-warning" aria-label="warning" (click)="endClass()">
                <clr-icon shape="warning-standard"></clr-icon>
            </button>
        </div>
    </header>
    <div class="content-container">
        <div #canvasParent class="canvas-parent">
            <canvas #canvas id="canvas" class="whiteboard"></canvas>
            <div class="toolbar">
                <button type="button" class="btn btn-icon" aria-label="eraser" (click)="clearCanvas()">
                    <clr-icon shape="eraser" class="is-solid"></clr-icon>
                </button>
                <clr-dropdown>
                    <button type="button" class="btn btn-icon" aria-label="pencil size" (click)="enterDrawingMode()"
                        clrDropdownTrigger>
                        <clr-icon shape="pencil" class="is-solid"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen>
                        <label class="dropdown-header" aria-hidden="true">Select pencil size</label>
                        <div aria-label="Select pencil size" clrDropdownItem (click)="canvasSetPencilSize()">
                            <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
                        </div>
                    </clr-dropdown-menu>
                </clr-dropdown>
                <input type="file" #file style="display: none;" (change)="handleFileInput($event.target.files)" >
                <button type="button" class="btn btn-icon" aria-label="add image" (click)="file.click()">
                    <clr-icon shape="image" class="is-solid"></clr-icon>
                </button>
                <button type="button" class="btn btn-icon" aria-label="Add text" (click)="addText()">
                    <clr-icon shape="text"></clr-icon>
                </button>
                <button type="button" class="btn btn-icon" aria-label="Change Text Color" [(colorPicker)]="pencilColor"
                    (colorPickerChange)="changeTextColor()">
                    <clr-icon shape="text-color"></clr-icon>
                </button>
                <button type="button" class="btn btn-icon" aria-label="Color picker"
                    [(colorPicker)]="canvasBackgroundColor" (colorPickerChange)="changeBackgroundColor()">
                    <clr-icon shape="color-picker" class="is-solid"></clr-icon>
                </button>
            </div>
        </div>
        <div class="videos" #videos>
            <video cdkOverlayOrigin #teacherVideo (mouseover)="showControls()" autoplay class="teacher-video"></video>
        </div>
    </div>
</div>