<div style="width:100vw;height:100vh;overflow: scroll;">
  <mat-toolbar color="primary" class="mat-elevation-z3" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <span class="display">Video Conference</span>
    </div>
  </mat-toolbar>
  <div class="container">
    <div class="whiteboard mat-elevation-z2">
      1
    </div>
    <div class="primary-camera mat-elevation-z2">
      <div class="overlay-primary" #overlayPrimary (click)="startPrimaryCam($event)" fxLayout="row"
        fxLayoutAlign="center center">
        <button mat-icon-button color="primary" aria-label="Start Primary camera">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </div>
      <div class="overlay-controls" *ngIf="displayPrimaryControls" fxLayout="row" fxLayoutAlign="center end">
        <div fxLayout="row" fxLayoutAlign="center center" class="controls-container" fxLayoutGap="2rem">
          <button mat-icon-button color="warn" aria-label="Pause Video">
            <mat-icon>pause_circle_outline</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Pause Video">
              <mat-icon>volume_off</mat-icon>
            </button>
          <button mat-icon-button color="warn" aria-label="Pause Video">
            <mat-icon>call_end</mat-icon>
          </button>
        </div>
      </div>
      <video #primaryVideo autoplay muted class="primary-video"></video>
    </div>
    <div class="secondary-camera-cotainer" gdColumn="span 2" fxLayout="row wrap" fxLayoutGap="1rem">
      <div class="secondary-camera mat-elevation-z2">
        <video autoplay class="remote-video" #remoteVideo></video>
      </div>
      <div class="secondary-camera mat-elevation-z2">
        <video autoplay class="remote-video" #remoteVideo></video>
      </div>
      <div class="secondary-camera mat-elevation-z2">
        <video autoplay class="remote-video" #remoteVideo></video>
      </div>
    </div>
  </div>
</div>