<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <div class="card-header">
                Classes
            </div>
            <div class="card-block">
                <div class="card-title">
                    Total Classes
                </div>
                <div class="card-text">
                    {{ totalClasses }}
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <div class="card-header">
                Students
            </div>
            <div class="card-block">
                <div class="card-title">
                    Total Students
                </div>
                <div class="card-text">
                    {{ totalStudents }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <div class="card-header">
                Teachers
            </div>
            <div class="card-block">
                <div class="card-title">
                    Total Teachers
                </div>
                <div class="card-text">
                    {{ totalteachers }}
                </div>
            </div>
        </div>
    </div>
</div>